#HU{
    border: black solid 2px;
    height:200px;
}
#AU{
    border: black solid 2px;
    height:200px;
}
#GT{
    border: black solid 2px;
    height:200px;
}
#GWU{
    border: black solid 2px;
    height:200px;
}